.main-card{
  height: 45vh;
  width: 85vw;
  margin: 3rem;
  border-radius: 1rem;
  box-shadow: 1px 5px 8px rgba(65, 63, 63, 0.452) ;
  display: flex;
  flex-direction: row;

}
.profile{
  height: 43vh;
  width:20vw;
  border-radius: 1rem;
  /* background-color: rgb(197, 122, 30); */
  margin: 1rem;

}
.admin{
  height: 43vh;
  width: 70vw;
  /* background-color: blueviolet; */
  margin: 1rem;

}
.profile-card{
  height: 27rem;
  width: 20vw;
  background-image: url(/Users/apple/Documents/Fairy-Mate/src/assets/Doctor.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
.view{
  height: 5rem;
  width: 20vw;
}
.view a{
  font-size: 24px;  
  list-style: none;
  text-decoration: none;
  
}
.admin-inner1{
  height: 30vh;
  width: 62vw;
  /* background-color: brown; */

}
.admin-inner2{
  height: 3px;
  width: 62vw;
  background-color: black;
}
.name{
  height: 30vh;
  width: 30vw;
  /* background-color: rgb(89, 84, 84); */
}
.consult{
  height: 30vh;
  width: 30vw;
  /* background-color: rgb(89, 84, 84); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}
.name-head{
  height: 7vh;
  width: 30vw;
  /* background-color: aliceblue; */
}
.name-head p{
  font-size: 41px;
  font-weight: 600;
}
.description{
height: 20vh;
width: 22vw;
/* background-color: aqua; */
}
.description li{
  color:gray;
}
.consult-inner{
  height: 8vh;
  width: 30vw;
  /* background-color: rgb(6, 29, 29); */
}
.para1-c p{
  color:rgb(134, 134, 134);
  font-size: 21px;
}
.fee p{
  font-size: 25px;
  color: brown;

}
.consult-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
 .cons-btn{
  height: 6vh;
  width: 25vh;
  display: flex;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;

}
.cons-btn p{
  font-size: 19px;
  padding-top: 1rem;
}
.cons-btn{
  color: blue;
}
.admin-inner3{
  height: 10vh;
  width: 62vw;
  display: flex;
  justify-content: center;
  align-items: center;

}
.rating-container{
  height: 8vh;
  width: 62vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.rating-inner{
  height: 7vh;
  width: 20vw;
}
.min-rate{
  height: 5vh;
  width: 80px;
  background-color: rgb(8, 173, 36);
  padding: 4px;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.star{
  height: 4vh;
  width: 2.25vw;
  margin: 2px 0px;
  background-color: white;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.star-data {
  height: 4vh;
  width: 3vw;
}
.star-data p{
  font-size: 20px;
  color: aliceblue;
  margin-left: 2px;
}
.star-patient{
  height: 3vh;
  width: 2vw;
  margin: 2px 0px;
  background-color: rgb(8, 173, 36);

}

.star-container >*{
  padding: 2px 0px;
}